h3{
  
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:green;
  text-align: center; 
  text-decoration: underline
}

table{
   
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:; 
  background-color: Blue; 
  border-collapse: collapse; 
  border: 2px solid navy
}
table.inner{
  border: 0px
}